*
{
    font-family: 'Edu TAS Beginner', cursive;
}
body
{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-color:rgba(152, 255, 152, 0.7);
}
.matrix
{
    display: grid;
    width: 350px;
    height: 350px;
    border: 2px solid  #333;
    border-radius: 50%;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
    padding: 2px;
}
.quadrant
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid  #333;


}
.quadrant-label
{
    font-weight: bold;
    font-size: 16px;
}